/* Mobilike CSS */
body {margin:0; padding:0; width:100%; height:100vh;}
#wrapper {position:relative; width:100%; height:100%; max-width:1024px; overflow:hidden;}
.bg {background:url(../images/back.jpg) no-repeat center center / cover; position:absolute; left:0; top:0; width:100%; height:100%;}
#plate {width:50%; height:50%; position:absolute; bottom:33%; bottom:-20%; left:25%; overflow:hidden;}
#plate img {position:absolute; top:0; left:0; width:100%;}
#plate .plate-out {z-index:21;}
#biscuits {width:100%; height:100vh; position:absolute;}
#biscuits .cizi, 
#biscuits .cizi2 {width:20%; height:auto; position:absolute; z-index:20;}
/*landing*/
#landing {z-index:20; position:relative;}
#landing .cizilogo {width:50%; margin:5% 0 0 25%;}
#landing .yonlendirme {width:80%; margin:5% 0 0 10%;}

#timer {position:absolute; left:2%; top:2%; width:10%; opacity:0;}
#timer .saat {width:100%; position:absolute;}
#timer #count {font-size: 40px; position: relative; z-index: 15; font-family: 'Open Sans'; text-align: center; line-height: 260%;}
#score {font-size: 80px; position: relative; z-index: 15; font-family: 'Open Sans'; text-align: center; line-height: 160%; position:absolute; right:2%; top:0; color:#ddad0f; font-weight:600; opacity:0;}

@media screen and (max-width:1024px){width:100%; min-width:100%;}

@media screen and (max-width:450px){
	#timer #count {font-size:21px;}	
	#score {font-size:40px; line-height:200%;}
}

/* begin / after 4 secons */
.begin #landing {opacity:0; transition:opacity 1s ease; transition-delay:4s;}
.begin #timer,
.begin #score {opacity:1; transition:opacity 1s ease; transition-delay:5s;}